@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
/* font-family: "Festive", cursive; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body {
    background: #203eb6;
}
#home1 {
    color: rgb(252, 248, 4);
    background-color: rgb(231, 72, 72);
    font-size: 50px;
    width: 260px;
    font-family: "Festive", cursive;
}
#home2 {
    color: violet;
    width: 40%;
    background: blue;
    font-family: cursive, "Gill Sans";
}
#homep {
    color: rgb(240, 237, 238);
    font-size: 2em;
    background: rgb(210, 9, 12);
    border: solid rgb(7, 57, 60);
    text-indent: 50px;
    text-align: left;
    width: 500px;
}
#homeimage {
    height: 100px;
}
.out {
    width: 100px;
    height: 100px;
    background: blue;
}
.in {
    width: 84%;
    height: 36%;
    background: red;
    border: 3px solid black;
}
.banner {
    width: 30vw;
    height: 50vh;
    background: black;
}
.header {
    min-width: 15vw;
    min-height: calc(50vh - 200px);
    background: green;
}