* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    float: left;
    height: 200px;
    width: 33.33%;
}
.one {
    /* float:left; */
    background: red;
    /* height: 200px;
    width:33.33%;*/
}
.two {
    /* float:left; */
    background: blue;
    /* height: 200px;
    width:33.33%;*/
}
.three {
    /* float:left; */
    background: lightgreen;
    /* height: 200px;
    width:33.33%; */
}
