body{
    margin: 5px 2px;
}
div{
    width: 105px;
    height: 105px;
    background:darkblue;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px;
    transition: all 0.5s;
}
div:hover{
    width: 200px;
}
.ease{
    transition-timing-function: ease;
}
.ease-in{
    transition-timing-function: ease-in;
}
.ease-out{
    transition-timing-function: ease-out;
}
.ease-in-out{
    transition-timing-function: ease-in-out;
}
.linear{
    transition-timing-function: linear;
}
/*  Transition= 0% --> 100%
    animation= 0%, 1%, 2%, ... ,100%
*/
.transition{
    height:50vh;
    transition: all 0.5s linear;
    margin: 2px;
    background: green;
}
.transition:hover{
    background: yellowgreen;
}
.animation{
    height:50vh;
    transition: all 0;
    margin: 2px;
    background:darkmagenta;
    animation: hover 2s infinite;

}
/* .animation:hover{
    width: 105px;
    animation: hover 2s ;
    animation-iteration-count: 2;
} */
@keyframes hover {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(20px);
    }
    50%{
        transform: translateX(50px);
        background:green;
    }
    75%{
        transform: translateX(-10px);
        background: yellow;
    }
    100%{
        transform: translateX(0);
        background:pink;
    }
}
/* animation fill mode */
.fill{
    width: 25vw;
    height: 25vh;
    margin: 200px auto;
    animation: fill 2s ease-out forwards;
}
.fill:hover{
    width: 25vw;
}
@keyframes fill{
    0%{
        opacity: 0;
        transform: translateY(-20px) scale(0.5)
    }
    25%{
        opacity: 0.5;
        transform: translateY(30px);
    }
    50%{
        opacity: 1;
        transform: translateY(30px) scale(1);
    }
    100%{
        background: blue;
        transform: translateY(30px);
    }
}