.box1,.box2,.box3{
    width: 200px;
    height: 150px;
}
.box1{
    background: red;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}
.box2{
    background: purple;
    color: white;
}
/* chek the inspect in browser */
.box3{
    background: green;
    color: white;
    padding: 20px;
}