div{
    font-size: 40px;
    color: white;
    width: 100vw;
    height: 400px;
}
.img1{
    background-image: url(img/animals-on-zoo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img2{
    background-image: url(img/crocodile-toy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.img3{
    background-image: url(img/albino-alligator.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}